
@import "rotala-theme-default-light";
@import "./base.pcss";
@import "./extensions/input.pcss";
@import "./extensions/list.pcss";
@import "./extensions/link.pcss";
@import "./extensions/prism.pcss";

@import "tailwindcss/utilities";
