/* Thick */

/* Prefix */

.thick-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  height: 1em;
  width: 1em;
  font-size: normal;
}

.thick-icon::before,
  .thick-icon::after {
  box-sizing: border-box;
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.thick-icon-combo {
  vertical-align: -15%;
}

.thick-icon-close::before,
    .thick-icon-close::after {
  background: currentColor;
  transform: translate(-50%, -50%) rotate(45deg);
}

.thick-icon-close::before {
  height: .125rem;
  width: 100%;
}

.thick-icon-close::after {
  height: 100%;
  width: .125rem;
}

.thick-icon-search::before {
  border-radius: 9999px;
  border: .125rem solid currentColor;
  border-radius: 50%;
  height: .75em;
  left: 5%;
  top: 5%;
  transform: translate(0, 0) rotate(45deg);
  width: .75em;
}

.thick-icon-search::after {
  background: currentColor;
  height: .125rem;
  left: 80%;
  top: 80%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: .4em;
}

.thick-icon-menu::before {
  width: 100%;
  background: currentColor;
  box-shadow: 0 -.35em, 0 .35em;
  height: .125rem;
}

.thick-icon-check::before {
  border-style: solid;
  border-color: currentColor;
  border-width: 0 0 .125rem .125rem;
  height: .5em;
  width: .9em;
  transform: translate(-50%, -90%) rotate(-45deg);
}

.thick-icon-arrow-down::before, .thick-icon-arrow-left::before, .thick-icon-arrow-right::before, .thick-icon-arrow-up::before, .thick-icon-chevron-up::before, .thick-icon-chevron-right::before, .thick-icon-chevron-down::before, .thick-icon-chevron-left::before {
  border-color: currentColor;
  height: .65em;
  width: .65em;
  border-style: solid;
  border-width: .125rem 0 0 .125rem;
}

.thick-icon-arrow-left::after, .thick-icon-arrow-right::after {
  background: currentColor;
  width: .8em;
  height: .125rem;
}

.thick-icon-arrow-down::after, .thick-icon-arrow-up::after {
  background: currentColor;
  width: .125rem;
  height: .8em;
}

.thick-icon-arrow-left::before {
  left: 35%;
}

.thick-icon-arrow-up::before {
  top: 35%;
}

.thick-icon-arrow-down::before {
  top: 65%;
}

.thick-icon-arrow-right::before {
  left: 65%;
}

.thick-icon-arrow-left::before, .thick-icon-chevron-left::before {
  transform: translate(-25%, -50%) rotate(-45deg);
}

.thick-icon-arrow-up::before, .thick-icon-chevron-up::before {
  transform: translate(-50%, -25%) rotate(45deg);
}

.thick-icon-arrow-right::before, .thick-icon-chevron-right::before {
  transform: translate(-75%, -50%) rotate(135deg);
}

.thick-icon-arrow-down::before, .thick-icon-chevron-down::before {
  transform: translate(-50%, -75%) rotate(225deg);
}

.thick-icon-edit::before {
  border: .125rem solid currentColor;
  height: .4em;
  transform: translate(-40%, -60%) rotate(-45deg);
  width: .85em;
}

.thick-icon-edit::after {
  height: 0;
  width: 0;
  border: .15em solid currentColor;
  border-top-color: transparent;
  border-right-color: transparent;
  left: 5%;
  top: 95%;
  transform: translate(0, -100%);
}

.thick-icon-mail::before {
  border-radius: 0.125rem;
  border: .125rem solid currentColor;
  height: .8em;
  width: 1em;
}

.thick-icon-mail::after {
  border: .125rem solid currentColor;
  border-right-color: transparent;
  border-top-color: transparent;
  height: .5em;
  transform: translate(-50%, -90%) rotate(-45deg) skew(10deg, 10deg);
  width: .5em;
}

.thick-icon-attachment::before,
    .thick-icon-attachment::after {
  border-right-width: 0;
  border: .125rem solid currentColor;
  border-right-width: 0;
  border-radius: 5em 0 0 5em;
  height: .5em;
  width: .75em;
}

.thick-icon-attachment::before {
  transform: translate(-70%, -45%) rotate(-45deg);
}

.thick-icon-attachment::after {
  transform: translate(-30%, -55%) rotate(135deg);
}

.thick-icon-bookmark::before {
  border-radius: 0.125rem;
  border: .125rem solid currentColor;
  border-bottom-color: transparent;
  height: .9em;
  width: .8em;
}

.thick-icon-bookmark::after {
  border-radius: 0.125rem;
  border: .125rem solid currentColor;
  border-bottom-color: transparent;
  border-left-color: transparent;
  height: .5em;
  transform: translate(-50%, 35%) rotate(-45deg) skew(15deg, 15deg);
  width: .5em;
}

.thick-icon-ellipsis::before, .thick-icon-ellipsis-vertical::before {
  border-radius: 9999px;
  height: .25rem;
  width: .25rem;
  background: currentColor;
  box-shadow: -.4em 0, .4em 0;
}

.thick-icon-ellipsis-vertical::before {
  box-shadow: 0 -.4em, 0 .4em;
}

.thick-icon-minus::before {
  width: 100%;
  background: currentColor;
  height: .125rem;
}

.thick-icon-plus::before {
  width: 100%;
  background: currentColor;
  height: .125rem;
}

.thick-icon-plus::after {
  height: 100%;
  background: currentColor;
  width: .125rem;
}
