.input-search {
    @apply pl-8;
    @apply pr-4;
    @apply bg-gray-200;
    @apply rounded;
    @apply border border-solid border-white;
    @apply transition-colors;
    @apply duration-150;

    &:focus {
      @apply bg-white;
      @apply border-gray-600;
    }
}